@{
    ViewData["Title"] = "Add Movie";
}

@model mission6_jacklin5.Models.MovieForm

<h1>Let's add some bangers</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="CategoryID">Category:</label>
    <select asp-for="CategoryID">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
    </select><br />


    <label asp-for="Title">Title:</label>
    <input asp-for="Title" /><br />

    <label asp-for="Year">Year:</label>
    <input asp-for="Year" /><br />

    <label asp-for="Director">Director:</label>
    <input asp-for="Director" /><br />

    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />

    <label asp-for="Edited">Edited:</label>
    <select asp-for="Edited">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select><br />

    <label asp-for="Lent">Lent To:</label>
    <input asp-for="Lent" /><br />

    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" /><br />

    <input type="hidden" asp-for="MovieID" />   <!--Error with Edit functionality-->

    <button type="submit">Add Movie</button>
</form>