@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome friends</h1><br />
    <img src="~/imgs/JoelHiltonHeadshot.jpg" /><br />
    <h1 class="display-4">Let's have some fun</h1><br />
</div>
